body{
	/*background: rgba(7,27,82,1); /*linear-gradient(to left, rgba(0,128,128,1)  0%, rgba(7,27,82,1) 100%);*/
	margin: 0;
	padding: 0;
	border: 0;
	font: sans-serif;
	height: 100vh;
	background-color: #303030;
}
