.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: white;
  font-family: inconsolataregular;
}

.name{
	font-family: inconsolataregular;
	font-size: 20px;
	text-align: center;
	font-style: bold;
	margin-bottom: 5px;
}
